.header {
  background: url(../images/header_desktop.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $light-color;
  height: 420px;
  position: relative;

  @include tablet {
    padding: 67px;
  }
  @include mobile {
    background: url(../images/header_mobile.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  .header-info {
    margin: 0 auto;
    background: rgba(0,0,0,0.35);
    max-width: 460px; 
    padding: 22px;
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    height: auto;


    h2 {
        font-size: $text-xxl;
        margin-bottom: 16px;
        line-height: 1.2;
      }

    p {
        text-align: center;
        line-height: 1.4;
      }
    
    i {
      padding: 0 1px;
    }

    @include tablet {
      width: 70%;
    }
    @include mobile {
      width: 85%;
      text-align: center;
      padding: 5px;
      
      h2 {
        padding: 10px;
      }
      }
    }
}