.product {
  padding: 50px;
  background-color: $secondary-color;
  color: $primary-color;
  
  @include pc {
    padding: 30px;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  a {
    color: $primary-color;
  }


  .main-products {
  width: 75%;
  padding-left: 15px;

  @include tablet {
    width: 95%;
    padding-left: 0;
  }
  }


// sidebar begins
  .sidebar {
  line-height: 32px;
  width: 25%;
  
  @include tablet {
    width: 95%;
    margin-bottom: 25px;
  }

  
  &__title {
    font-size: $text-lg;
    margin-bottom: 20px;
    display: inline-block;
    padding-left: 5px;
      }

  &__list {
    width: 85%;
    @include tablet {
      width: 100%;
      }
    
  &--item {
    border-bottom: 1px solid $primary-color;

      }
    }

  &__link {
    padding-left: 10px;

      &:hover {
      color: $light-color;
      background: $primary-color;
      }
    }
  } 
// sidebar ends


// search begins
.search {
  margin-bottom: 15px;
  @include mobile {
    flex-wrap:wrap;
  }

  form {
    width: 80%;
    height: 32px;
    
    
    @include tablet {
      width: 100%;
      margin: 0 auto;
    }

    @include mobile {
      margin-bottom: 10px;
    }

    
    }

    &__input {
    width: 70%;
    border: 2px solid $primary-color;
    @include mobile {
      width: 100%;
      
    }
    }

    &__submit {
    background-color: $primary-color;
    
    }
}

  .order {
  width: 20%;
  position: relative;

  @include pc {
    width: 35%;
  }

  @include mobile {
    width: 100%;
  }

  &__check-out {
    padding: 5px;
    &:hover {
      background: $primary-color;
      color:$light-color;
      
      }
    }
  &__num {
    background: $orange-color;
    border-radius: 50%;
    font-size: $text-xs;
    width: 16px;
    height: 16px;
    padding: 2px 0;
    position:absolute;
    right:-4px;
    top: -2px;
    // left: 95%;

    }
  }

// search ends


// product-list
  &__list {
  width: 30%;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
  font-size: $text-lg ;
  
  @include pc {
    width: 45%;
  }

  @include mobile {
    width: 100%;
  }
  img {
    width: 100%;
    }
  }
  .heart {
    color: $light-color;
    position: absolute;
    top: 10px;
    left: 10px;
    &:hover {
      transform: scale(1.5);
      transition: all 0.5s;
      color: $orange-color;
    }
  }
  &__title { 
    padding: 12px 0;
    line-height: 28px;
  }

  p {
    font-size: $text-xs;
    padding-bottom: 8px;
  }

  &__price {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0px 16px 0px;
    border-top: 1px solid $primary-color;
    font-weight: bold;
    font-style: italic;
    
    }

    .add-cart {
      width: 90%;
      margin: 0 auto;
      color: $orange-color;
      border: 2px solid $orange-color;
      border-radius: 5px;
      padding: 5px;
      font-size: $text-base;

      &:hover {
        background-color: $primary-color;
        color: $light-color;
        border: 2px solid $primary-color;
      }

      i {
        padding: 0 10px;
      }
    }
  
  .popular__box {
    width: 90px;
    height: 90px;
    position: absolute;
    top: -10px;
    right:-10px;
    overflow:hidden;

    &--label {
      background:#00CC99;
      color: $light-color;
      font-weight: bold;
      padding: 10px 0;
      width:150px;
      transform: rotate(45deg);
      position:absolute;
      top: 20px;
      right: -40px;
      z-index: 2;
      }

    &::before , &::after{
        content:'';
        border:5px solid #078F6D;
        display:block;
        position:absolute;
        z-index: 1;
    }
    &::before{
        top: 0px;
        left: -4px;   
    }
    &::after{
        bottom: -1px;
        right:0px;
    }
  }
}

  






