// font-size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-md: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-xxl: 36px;
$text-xxxl:48px;


// color 
$primary-color: #3D1101;
$secondary-color: #F0E9E7;
$orange-color:#F56C23;
$gray-color:gray;
$light-color:#fff;

//social media color 
$google-color:#DB4437;
$twitter-color:#41ABE1;
$facebook-color:#3A5795;